@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*для тэга body*/
body {
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif; /*задаю шрифт*/


    background-color: #8ec2e0; /*задаю фон страницы
    /* background-image: url("./BG.jpg"); */

    color: #0f141e;
    font-size: 15px; /* задаю размер шрифта*/
    font-weight: normal; /*задаю жирность шрифта или насыщенность*/
    
}

/* .contact {
    background-color: tomato;
    padding: 15px 20px;
    border-radius: 28px; /* если круглая то нужно поставить 50% */
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.30); /*задаю статическую тень*/
/* } */

/* .contact:hover {
    box-shadow: -10px 8px 15px 5px rgb(0 0 0 / 30%) /* задаю тени и их напрвление при  наведении*/
/* } */ */

     */
/* .phone-email {
    color: #000;
    font-weight: 700;
    

}   */




a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}



.avatar {
    width: 200px; /* задаю ширину картинки*/
    border-radius: 28px; /* если круглая то нужно поставить 50% */
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.30); /*задаю статическую тень*/
    
}

.avatar:hover {
    box-shadow: -10px 8px 15px 5px rgb(0 0 0 / 30%) /* задаю тени и их напрвление при  наведении*/
}

.info p {
    /* color: #86898f; задаю цвет шрифта */
    margin: 0; /*обнуляю отступы*/
    font-style: normal; /*стиль шрифта /наклон/жирный итд...*/
    text-decoration: none; /*подчеркивание текста*/
    text-transform: none; /*размер регистра / capitalize - каждое слово с большой буквы*/
    letter-spacing: normal; /* размер пикселей между символами в каждом слове*/
    word-spacing: normal; /* размер пикселей между словами*/
}


.info {
    display: flex;
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .info {
        text-align: center;
        display: block;
    }

}


.info-text {
    margin-left: 40px;
    
}


.info-text h4 {

    margin-bottom: 10px;
    max-height: 100%;
}

/*BOX MODEL*/
.container {
    
    max-width: 75%;
    margin: auto;
    padding-top: 150px; /*отступили с верху в общем контейнере*/
    padding-bottom: 50px; /*отступили с низу в общем контейнере*/
}

.social {

    background: yellow;
    padding: 15px;
    border: 5px solid red;
    margin: 15px;

}


.bg-hobbie {background: rgb(131, 240, 167);}

.list {
    padding: 0 20px;
    /* list-style: none; можно убирать нумерацию которая исходит от тэга "ol" */
}

.list li {
    color: #6380e2;
    margin-bottom: 10px;
    margin-left: 30px;
    /* border-bottom: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid; */
}


.bg-working-exp {background: rgb(231, 197, 103);}
.bg-course-yt {background: rgb(105, 255, 255);}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 28px;
}

.card h2{
    margin-bottom: 10px;
   
}

.card:hover {
    box-shadow: -10px 8px 15px 5px rgb(0 0 0 / 30%) /* задаю тени и их напрвление при  наведении*/
}

.table-exp-work {
    width: 100%;
}

.table-exp-work td {
    padding-bottom: 10px;
}

/* .table-exp-work td:nth-child(1) {
    color: red;
} */

/* .table-exp-work tr:nth-child(even) {
    color: white;
    background: red;
} */

/* .table-exp-work tr:nth-child(2) {
    color: white;
    background: red;
} */




.last_work {
    color:#86898f;
}

.header-work-exp {
    color: #f1f1f1;
    border-bottom: 0.5px solid;
    padding-bottom: 1%;
    padding-right: 50%;
    
}

.first_data {
    color: #251c1c;
    height: 30px;
    font-style: italic;
    
   
}

.link-list {
    /* border-bottom: 1px solid #ccc; */
    list-style: none;
    padding: 0;
}

.link-list li {
    /* border-bottom: 1px solid #ccc; */
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.contact-us h2 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 14px;
    
}

.form-group textarea,
.form-group input {
    align: center;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: rgb(205, 218, 190);
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    /* outline: none; */
    font-family: inherit;
    font-weight: 700;
    border-radius: 5px;
    padding-left: 10px;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
}


.form-group textarea,
.form-group input:hover {
    box-shadow: -10px 8px 15px 5px rgb(0 0 0 / 30%); /* задаю тени и их напрвление при  наведении*/

}

.btn {
    background: rgb(48, 3, 100);
    color: rgb(250, 250, 250);
    margin-top: 25px;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    
}


.btn:hover {
    width: 112px;
    box-shadow: -10px 8px 15px 5px rgb(0 0 0 / 30%); /* задаю тени и их напрвление при  наведении*/
    font-weight: 400;
    

    
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* .position {
    position: relative;
    border: 4px solid #0f141e;
    margin-top: 40px;
    padding: 20px;
    

} */

.box {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: #6380e2;
    
    
}


